@import 'normalize';
@import 'typography';
@import 'navigation';
@import 'sidebar';
@import 'comments';
@import 'footer';
@import 'mixins';
@import 'hover';
@import 'hacks';
@import 'options';
@import 'underline-from-left';

ul.menu {
	margin: 0;
	padding: 2.5vh 5vh;
	text-align:right;
	li {
		display: inline;
		padding:10px;
		margin-top: 3vh;
		a {
			color: #333;
			font-size:1.3rem;
			text-transform: uppercase;
			&:hover {
				@include underline-from-left();
			}
		}
	}
}

.navAMobile ul.menu {
	margin: 0 auto;
	text-align:center;
	color:white;
	li {
		display: block;
		margin-top: 15%;
		color:white;
		a {
			color:white;
			font-size:2rem;
			text-transform: uppercase;
		}
	}
}

