// HEADINGS + LINKS: font-family: 'Sorts Mill Goudy', serif;

// BODY: font-family: 'Quicksand', sans-serif;

// H1: font-family: 'Abril Fatface', cursive;

// font-family: 'Forum', cursive;

// font-family: 'Montez', cursive;



h1 {
	font-family: 'Abril Fatface', cursive;
	// font-family: 'Sorts Mill Goudy', serif;
	font-size: 4rem;
	border-right:10px solid black;
	text-align:right;
	padding-right: 5vh;
	margin:10vh 0 0 0;
	color:black;
}

h2, h3{
	border-left:10px solid black;
	padding-left:4vh;
}

h4 {
	font-family: 'Sorts Mill Goudy', serif;
	font-size:3rem;
}

h5 {
	font-family: 'Sorts Mill Goudy', serif;
	font-size:1.5rem;
	// text-align:center;
}

.skills h2, .skills h3, .skills h4 {
	border-left:5px solid white;
	text-align:right;
	padding-bottom: 16vh;
    padding-left: 2.5%;

}

.skillsHeading p {
	padding-top: 10vh;
	padding-right:2.5%;
	width: 60%;
	text-align:left;
}

// LINKS

a {
	color: #BA209B;
	font-family: 'Quicksand', sans-serif;
	// font-family: 'Sorts Mill Goudy', serif;
	// font-weight: bold;
	letter-spacing: -0.1rem;
	text-decoration: none;
	&:hover {
		color: #D424B1;
	}
}

/* paragraphs */

p {
	line-height: 1.5;
	font-family: 'Quicksand', sans-serif;
	font-size:1.1rem;
}

.devicons, .fa {
	font-size:3rem;
	margin-left:20px;
}
.mainSubheading {
		text-align: right;
		width:35%;
		margin-left:60%;
	}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 3px;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}